@import '../../style/variables';

.privacyStatement {
    max-width: 1000px;
    margin: auto;
    p {
        font-family: 'Roboto';
        line-height: 25px;
        margin-left: 10px;
    }
    li {
        font-family: Degular, Arial, sans-serif;
    }
    h2 {
        font-family: Degular, Arial, sans-serif;
        font-weight: bold;
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .ps_Content {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .ps_section {
        margin: 30px;
        border-bottom: 2px solid rgba($color: $charcoal, $alpha:0.4 );
        padding: 20px;
        ul {
            padding-left: 50px;
            li {
                list-style: square;
                line-height: 30px;
            }
        }
    }
}