@import '../../style/variables';

#contact {
    .contactContent {
        width: 90%;
        margin: auto;
        max-width: 456.5px;
        margin-bottom: 100px;
        .contactForm {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        p {
            font-size: 14px;
            line-height: 120%;
        }
    }
    .vas_button {
        margin-bottom: 25px;
    }
}

.formGroup {
    width: 100%;
    position: relative;
    font-size: 14px;
    margin:  20px 00px;
    input {
        width: calc(100% - 14px);
        border: none;
        border: 2px solid $charcoal;
        padding: 5px 5px;
        outline: none;
    }
    label {
        font-family: Degular, Arial, sans-serif;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        transform: translateY(-180%);
        left: 2px;
        opacity: 0.3;
        transition: 0.2s ease;
    }
    textarea {
        width: calc(100% - 14px);
        resize: none;
        font-family: Degular, Arial, sans-serif;
        padding: 5px;
        border: 2px solid $charcoal;
        height: 100px;
        outline: none;
    }
}
.form_captchaContainer {
    margin: 0px 0px 20px;
}

.inputField:focus {
    & + .labelName {
        color: $charcoal;
        opacity: 1;
    }
}
.inputField:invalid {
    border: 2px solid red;
    outline: none !important;
    box-shadow: none;

}
.formIsTouched{ 
    & + .labelName {
        transform: translateY(-140%);
        color: $charcoal;
    }
}

textarea {
    &:invalid {
        box-shadow: none;
    }
}

.formErrorMessage {
    position: absolute;
    right: 0px;
    top: -15px;
    p {
        font-size: 12px !important;
        font-family: Degular, Arial, sans-serif !important;
    }
}
.form_successMessage {
    font-family: Degular, Arial, sans-serif;
    font-size: 16px;
    color: $charcoal;
    margin: 10px 0px;
    height: 50px;
    display: grid;
    place-items: center;
}
@media only screen and(min-width: $computer) {
    .formGroup {
        input,
        label ,
        textarea{
            font-size: 16px;
        }
    }
   
}
