@import '../../style/variables';

.thumbnail_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0px;
    display: block;
    border: none;
    object-fit: cover;
    width: inherit;
    position: relative;
    overflow: hidden;
    height: 160px !important;
    width: auto;
    
    img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        object-fit: cover;
    }
    .thumbnail_projectInfoHover {
        background-color: rgba($color: $orange, $alpha: 0.7);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        transition: 0.2s ease;
        opacity: 0;
        z-index: 2;
        .thumbnail_projectInfoText {
            width: 96%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            transition: 0.4s ease;
            transform: scale(1.5);  
        }
        .thumbnail_projectTitle,
        .thumbnail_projectClient {
            font-family: Degular, Arial, sans-serif !important;
            color: white;
            text-align: center;
           
            text-transform: capitalize;
        }
        .thumbnail_projectTitle {  
            font-weight:500;
            font-size: 30px  ;
            text-transform: uppercase;
        }
        .thumbnail_projectClient {
           font-size: 24px ;
        }
    }
   
    span {
        display: flex !important;
        height: 0;
    }
}
@media only screen and (min-width: $computer) {
    .thumbnail_container {
        height: 310px !important;
        &:hover,
         &:focus{
            .thumbnail_projectInfoHover {
                opacity: 1;
                .thumbnail_projectInfoText {
                    transform: scale(1);
                }
            }
        }
    }
    .thumbnail_projectInfoHover {
        background-color: rgba($color: $charcoal, $alpha: 0.8)  !important;
        backdrop-filter: blur(2px);
        opacity: 0;
        
        .thumbnail_projectInfoText {
            gap: 25px !important;
            
        }
        .thumbnail_projectTitle,
        .thumbnail_projectClient {
            font-family: Degular, Arial, sans-serif !important;
            text-align: center;
            font-size: 36px  !important;
            text-transform: capitalize;
        }
        .thumbnail_projectTitle {  
            font-weight: 500;
            text-transform: capitalize !important;
        }
        .thumbnail_projectClient {
            font-size: 30px  !important;
            color: $orange !important;
        }
        
    }
    
}

.imageLoader {
    height: 100vh;
    display: grid;
    min-height: 150px;
    place-items: center;
}

.squareThumbnail {
    flex: 1 1 25% !important;
    min-width: 150px;
    @media only screen and(min-width: $computer) {
        flex: 1 1 25% !important;
        min-width: 310px;
    }
    
}

.landscapeThumbnail {
    flex: 1 1 50% !important;
    min-width: 200px;
    @media only screen and(min-width: $computer) {
        flex: 1 1 50% !important;
        min-width: 310px;
    }
}

.portraitThumbnail {
    flex: 1 1 12.5% !important;
    min-width: 100px;
    @media only screen and(min-width: $computer) {
        flex: 1 1 12.5% !important;
        min-width: 310px;
    }
}