@font-face {
    font-family: 'Roboto';
    src: url(../style/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../style/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}


