
@import '../../style/variables';

.portfolioPortal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    -webkit-transition: all 0.3s ease;
    .portal_Link{
        height: 50vh;
        place-items: center;
        justify-content: center;
        background-position: center;
        object-fit: cover;
        background-size: cover;
        text-decoration: none;
        position: relative;
        transition: 0.3s ease;
        -webkit-transition: all 0.4s ease;
        width: 100vw;
        &:hover {
            .portal_Title {
                border-bottom: 0px solid transparent ;
                .portal_TitleOutline {
                    transform: translateY(10px);
                    opacity: 1;
                }
            }
            &::after {
                
                background-color: rgba($color: $charcoal, $alpha: 0.6);
                
            }
        }
        &::after {
            content:'';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba($color: $charcoal, $alpha: 0.2);
            top: 0;
            left: 0;
            z-index: 1;
            transition: 0.2s ease;
        }
    }
    position: relative;
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.portal_Title {
    color: white;
    font-family: Degular, Arial, sans-serif !important;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 0px solid transparent ;
    z-index: 99;
    transition: 0.3s ease;
    -webkit-transition: all 0.4s ease;
    position: relative;
    .portal_TitleOutline {
        transition: 0.3s ease ;
        -webkit-transition: all 0.4s ease;
        opacity: 0;
        position: absolute;
        left: 0px;
        bottom: 0px;
        -moz-text-fill-color: rgba($color: white, $alpha: 0);
        -webkit-text-fill-color: rgba($color: white, $alpha: 0);
        -moz-text-stroke-color: white;
        -webkit-text-stroke-color: white;
        -moz-text-stroke-width: 2px;  
        -webkit-text-stroke-width: 2px;
    }
}

.photoHover{
    grid-template-rows: 60% 40% ;
    transition: 0.4s ease;
    -webkit-transition: all 0.4s ease;
    #videoSelector {
        transition: 0.4s ease;
        -webkit-transition: 0.4s ease;
        .portal_Title {
           font-size: 60px !important;
        }
        &:after {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(5px);
        }
    }
   
}
.videoHover {
    transition: 0.4s ease;
    -webkit-transition: all 0.4s ease;
    grid-template-rows: 40% 60% ;
    #photoSelector {
        transition: 0.4s ease;
        -webkit-transition: all 0.4s ease;
        .portal_Title {
           font-size: 60px !important ;
        }
        &:after {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(5px);
        }
    }
}

@media only screen and (min-width: $computer) {
    .portfolioPortal {
        width: 100%;
        display: flex;
        flex-direction: row;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .portal_Link {
        width: 50vw;
        height: 100vh !important;
        &:hover{
            .portal_Title {
                .portal_TitleOutline {
                    transform: translateY(20px) !important;
                }
            }
        }
    }
    .portal_Title {
        font-size: 120px;
        .portal_TitleOutline {
            -moz-text-stroke-width: 3px;  
            -webkit-text-stroke-width: 3px;
        }
        
    }
    .photoHover{
        grid-template-columns: 60% 40% !important;
        grid-template-rows: auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        #videoSelector {
            .portal_Title {
               font-size: 100px ;
            }
        }
       
    }
    .videoHover {
        grid-template-columns: 40% 60% !important;
        grid-template-rows: auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        #photoSelector {
            .portal_Title {
               font-size: 100px ;
            }
        }
    }

}

@media only screen and (min-width: 1000px) {
    .portal_Title {
        font-size: 140px;
    }
    .photoHover{
        
        #videoSelector {
            .portal_Title {
               font-size: 100px !important;
            }
        }
       
    }
    .videoHover {
        #photoSelector {
            .portal_Title {
               font-size: 100px  !important;
            }
        }
    }
}